
<div>
   <svg id="barChart"></svg>
</div>
<style>
    #barChart {
        font-size: 14px;
    }

    .bar {
        fill: steelblue;
    }

        .bar:hover {
            fill: brown;
        }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }
</style>
<script>
    var margin = {
        top: 20,
        right: 20,
        bottom: 130,
        left: 40
    },
        width = 700 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function (d) {
      return "<strong style='font-size:smaller'>Cars:</strong> <span style='color:Black;font-size:smaller'>" + d.Count + "</span>";
  })

    var x = d3.scale.ordinal()
      .rangeRoundBands([width, 0], 0.1);

    var y = d3.scale.linear()
      .range([0, height]);

    var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

    var yAxis = d3.svg.axis()
       .scale(y)
       .orient("left")
       .tickFormat(d3.format("d"))
       .tickSubdivide(0);


    d3.json("./main/GetCarStats", function (error, data) {

       
        var svg = d3.select("svg#barChart")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.call(tip);
        x.domain(data.map(function (d) {
            return d.Make;
        }));

        y.domain([d3.max(data, function (d) {
            return d.Count;
        }), 0]);

        svg.append("g")
          .attr("class", "y axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
          .selectAll("text")
          .attr("transform", "rotate(40)")
          .attr("x", 0)
          .attr("y", 6)
          .attr("dx", ".0em")
          .style("text-anchor", "start")
          .style("font-size", "10px")
          .style("font-weight", "bold");

        svg.append("g")
          .attr("class", "y axis")
          .call(yAxis);
       

        svg.selectAll(".bar")
          .data(data)
          .enter().append("rect")
          .attr("class", "bar")

          .attr("x", function (d) {
              return x(d.Make);
          })
          .attr("width", x.rangeBand())
          .attr("y", function (d) {
              return y(d.Count);
          })
          .attr("height", function (d) {
              return height - y(d.Count);
          })
        .on('mouseover', tip.show)
      .on('mouseout', tip.hide);

    });
</script>

